
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*{
    margin: 0;
    padding: 0;

}

body{
    
}
header{
   
}
main{
   
}


.cabecalho{
    display: flex;
    flex-direction: row;/*linha8*/
    align-items: center;/*linha dos itens*/
    justify-content: space-between;/*distancia entre os itens*/
    padding: 19px 0px 0px 60px;
}

.cabecalho_imagem{
    height: 38px ; /*altura*/
   
}

.cabecalho_menu{
    display: flex;
    gap: 30px;

}
.cabecalho_menu_item{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: #4c5d73;
    font-size: 16px;
}
.cabecalho_menu_item_cadastro{
    color:#304f8c ;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    
}

button{
    color: #304f8c;
    border: 1px solid #304f8c;
    background-color:white ;
    display: inline-block;
    padding: 5px 50px;
    font-weight: 500;
    line-height: 20px;
    cursor:pointer;
    border-radius: 6px; 
    margin-right: 110px;
}
.conteudo{
    border: ;
   
}
.conteudo_principal{
    display: flex;
   align-items: center;
   justify-content: space-around;
   
}
.conteudo_principal_escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo_principal_escrito_titulo{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size:30px ;
    margin-right: 300px;

}
.conteudo_principal_escrito_subtitulo{
color: #4c5d73;
}
.button_2{
background-color: #304f8c;
color:white;
width: 210px;
height: 37px;
border;
box-shadow: ;
border-radius: ;
font-family: 'Rubik', sans-serif;
font-weight: 400;
font-size:14px ;
}
.cabecalho_imagem_2{
    padding:30px 0px ;
}

.conteudo_segundario_imagens{
    display: flex;
    flex-direction: row;/*linha8*/
    align-items: center;/*linha dos itens*/
    justify-content: space-around;/*distancia entre os itens*/
    padding: 60px 200px 0px 0px;
    margin-left: 200px;
    color:#4c5d73 ;
}

.conteudo_segundario_imagens_0{
    display: flex;
    flex-direction: row;
    
}

.conteudo_3{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size:20px ;
    margin-top: 100px;
    margin-left: 40px ;
}

.conteudo_3_servico{
    font-size: 20px;
    margin-left: 20px;
    color: #4c5d73;
}

.conteudo_3_sistema{
    margin-top: 10px;
    margin-left: 20px;
    
}

.conteudo_4{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size:20px ;
    margin-top: 100px;
    margin-left: 40px ;
}

.conteudo_4_nos{

    font-size: 20px;
    margin-left: 20px;
    color: #4c5d73;

}
.conteudo_4_sistema{
    margin-top: 10px;
    margin-left: 20px;
}

.conteudo_4_imagem_4{
    display: flex;
    width: 300px;
    padding: 100px;
    margin-top:-80px;
    }

.conteudo_5{
display: flex;
flex-direction:column;
margin-left: 500px;
gap: 30px;
font-family: 'Rubik', sans-serif;
color: #4c5d73;
font-size:18px;

}

.conteudo_5_imagem_5{
    width: 10px;
}

.conteudo_5_paragrafo_2{
    margin-top: -400px;
   }

.conteudo_5_button_3{
    color: #304f8c;
    border: 1px solid #304f8c;
    background-color:white ;
    display: inline-block;
    padding: 5px 50px;
    font-weight: 500;
    line-height: 20px;
    cursor:pointer;
    border-radius: 6px; 
    margin-right: 110px; 
    width: 240px;
}

.conteudo_6{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size:20px ;
    margin-top: 10px;
    margin-left: 40px ;
}

.conteudo_6_atuacao{
    font-size: 20px;
    margin-left: 20px;
    color: #4c5d73;
}

.conteudo_6_sistok{
    margin-top: 10px;
    margin-left: 20px;

}

.conteudo_secundario_imagens_6{
    display: flex;
    flex-direction: row;/*linha8*/
    align-items: center;/*linha dos itens*/
    
    padding: 60px 50px 0px 0px;
    margin-left: 150px;
    height: 120px;
    width: 200;
    gap: 100px;
    color:#4c5d73 ;
}

.conteudo_7{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size:20px ;
    margin-top: 100px;
    margin-left: 40px ;
}
.conteudo_7_planos{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 100px;
    color: #4c5d73;
}

.conteudo_7_escolha{
    margin-top: 10px;
    margin-left: 20px;

}

.conteudo_secundario_imagens_7 {
display: flex;
flex-direction: row;
gap: 100px;

}
#img{
    display: flex;
    margin-top: 40px;
    margin-left: 400px;

}

footer{
display: flex;
background-color: black;
color:white ;
margin-top: 100px;
}

h3{
display: flex;
margin-top: 40px;
margin-left: 50px;
gap: 30px;

}

.rodape_link_lista{
    display: flex;
    flex-direction:column;
    margin-left: -73px;
    gap: 30px ;
    margin-top: 100px;
    list-style: none;
 
}
.rodape_link{
    display: flex;
    margin-left: 150px;
    
}
.rodape_link_lista2{
display: flex;
margin-left: 25px;
}

.rodape_link1{
display: flex;
margin-left: 100px;
}
.rodape_link_lista3{
    margin-left: 15px;
}
#rodape_link_lista1{
display: flex;
width: 250px;
height: 40px;
border-radius: 8px;
border: none;
margin-left: -190px;
margin-top: 100px;
padding: 0px 20px;
}

.logos{
    display: flex;
    margin-left: -285px;
    gap: 10px;
}

.fim{
display: flex;

}
.fim_1{
   
}